@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
}
.nav-title {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 45px;
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;

}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin: 30px;
    font-style: normal;
    font-weight: 500
}
nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424242);
}
.banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}
.banner title{
    font-size: 4rem;
    font-weight: 400px;
    color: #131313;
}
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    width: 180px; 
    height: 60px;  
    border: 0; 
}
.banner img {
    margin: 20px;
    width: 100%;
}
@media screen and (max-with:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    
}
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;

    }
    nav{
        flex-direction: column;
    }
    
}
main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams-contant{
    padding-left: 70px;
    padding-right: 70px;
    
}
.teams-title{
    font-size: 45px;
}
.m{
    color: var(--Dark-03, #727272);

    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.n{
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.o{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.shakil{
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.text-maruf{
    width: 542px;
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
/* fact section*/
.facts-card-container{

    display: flex;
    justify-content: space-around;
}    
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
   
    width: 241.831px;
    height: 241.831px;
    flex-shrink: 0;
    color: var(--Dark-02, #424242);
    color: var(--Dark-03, #727272);

}
.card{
    text-align: center;
}